# Dependencies
node_modules/
client/node_modules/

# Build outputs
client/dist/
*.exe
c-server/server
c-server/client

# Go
*.test
*.out

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

personal/
